<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tangerine-Coppell</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>


<!-- <div class="container"> -->
<nav>
    <ul>
        <li>
            Service
        </li>
        <li>
            Our People
        </li>
        <li>
            Locations
        </li>
        <li>
            About
        </li>
        <li>
            Careers
        </li>
        <li>
            Book Now
        </li>
    </ul>
</nav>




<div class="home">
    <img class="stations" src="/static/images/booths-still.jpg" alt="">
    <div class="tangerine">
        <h1>TANGERINE-COPPELL</h1>
    </div>
</div>

<div class="main">
    <div class="parapic">

        <img src="/static/images/front-still.jpg" alt="">

    </div>

    <div class="mainP">
        <p> <span style="font-weight: bold; font-size: large; color: #E98A15;">Enjoy Main Street Charm at our
                Old Town Coppell Location</span>
            <br>
            <br>
            Located in the heart of Old Town Coppell, our original location will wow you with our service & style. Get
            the hair you love with the latest trends and techniques in
            Color / Haircutting / Extensions / Balayage while luxuriating in our modern farmhouse vibe. Amazing space,
            amazing people.
            <br>
            <br>
            <a style="font-weight: bold; color: #E98A15;"
                href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x864c2eb323bdfa61:0x8ca31a5267e23f64?source=g.page.m.we">
                W Main Street
                Coppell, TX 75019
            </a>
        </p>
    </div>

</div>
<div class="section2">

    <div class="boothp">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia omnis voluptatum eos nisi aut quibusdam
        velit corporis, culpa doloremque autem nemo facere repellendus odio quas, nesciunt exercitationem sint ad
        ea?
    </div>


    <div class="boothpic">
        <img src="/static/images/lounge.jpeg" alt="">
    </div>

</div>



<div class="footer">
    <div class="Fleft">
        <h3 style="color: #E98A15; font-weight: bold;">Vist Any of Our Five Salon Locations</h3> <br>
        <a href="https://goo.gl/maps/AiVyCNjUXyk">DALLAS - 7949 Walnut Hill Lane Dallas, TX 75230</a> <br>
        <a href="https://goo.gl/maps/xAM5VQQVNjx">COPPELL - 723 West Main Street Coppell, TX 75019</a> <br>
        <a href="https://goo.gl/maps/sixxo9o1i8C2">HV/FLOWER MOUND - 4151 Waller Creek #110, Highland Village TX
            75077</a> <br>
        <a href="https://goo.gl/maps/4vG5U96EbnL2">ALLEN - 962 Village Green Dr, Allen TX 75013</a> <br>
        <a href="https://goo.gl/maps/cMB49vXSkoL2">FRISCO - 3620 The Star Blvd, Frisco TX 75034</a> <br>
    </div>
    <div class="Fright">
        <h3>Subscribe To Our Flash Deals</h3>
        <p>Sign up to be the first to hear about our deals and offers!</p>

        <form action="">
            <input type="text" value="" id="">
            <input style="color: white; background-color: #E98A15; border-radius: 10px; border: none;" type="submit"
                value="SIGN UP">
        </form>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>


</html>