<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tangerine-Coppell</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="/static/images/Tlogo.png" alt="Tangerine Salon">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Our People<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Locations <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Careers <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a style="background-color: orangered; border-radius: 10px;" class="nav-link" href="#">Book
                                Now<span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="coppell">
                <h1>Coppell</h1>
            </div>
            <!-- <video width="100%" autoplay loop muted controlslist controls nodownload -->
                <!-- src="/static/images/9convert.com - Meet us on Main Street  Final Salon Tour.mp4"></video> -->
        </div>
        <div class="smallcontain">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, doloremque consequatur? Architecto, sint
                voluptate ea pariatur aspernatur ab fuga tempora cumque nihil placeat molestiae iure neque ex sapiente
                dolor aut. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, accusamus dolorem ratione
                facere, repellat enim, quae eum cumque cum accusantium consequatur asperiores ex possimus quasi
                provident? Recusandae harum labore illo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                voluptates repellat molestiae pariatur illum. Omnis enim, consequuntur fugit est nisi praesentium illum
                debitis tempore ab ratione laboriosam. Hic, culpa deleniti. Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Aut quis saepe velit reprehenderit eaque sapiente sunt cum beatae possimus nulla ut
                consectetur quaerat dolorem voluptatum ad, eum aperiam in odit!</p>
            <div class="parallax"></div>
        </div>
        <div class="smallcontain">
            <div class="parallaxtwo"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repellat sequi fugit ullam quidem
                molestiae ipsum quos ipsam alias, ex facilis mollitia explicabo dolorem magnam facere nesciunt natus
                vitae ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nam recusandae eaque dicta
                dignissimos ex quod ipsa eligendi asperiores quidem. Vitae nostrum illum omnis nihil, itaque incidunt
                tempora reiciendis aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laboriosam qui
                eveniet, ex magni nesciunt nemo, quos laudantium unde perspiciatis quia eum ut aut expedita
                necessitatibus architecto error. Consequuntur, voluptates? Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Distinctio optio perspiciatis mollitia iste asperiores deleniti, consectetur
                praesentium porro dicta, soluta nam culpa est, deserunt omnis facere fugit ipsum error incidunt!</p>

        </div>
    </div>
</body>

</html>